In [1]:
import os 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns

In [3]:
merged = pd.read_csv('final.csv' , index_col = 'application_date')
merged.head()

                  case_count  day  segment
application_date
2017-04-01             299.0    5        1
2017-04-01             897.0    5        2
2017-04-02             605.0    6        2
2017-04-03              42.0    0        1
2017-04-03            2016.0    0        2