1. ### V1 : ??? 0.956989247311828
3. ### V3 : 0.24343(Best)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os
os.listdir('../input/')

['Test.csv', 'Sample_Submission.xlsx', 'Train.csv']

In [2]:
import pandas_profiling as pp

In [3]:
train = pd.read_csv('../input/Train.csv')
test = pd.read_csv('../input/Test.csv')
sample = pd.read_excel('../input/Sample_Submission.xlsx')

In [4]:
sample

     0  1  2  3  4
0    0  0  1  0  0
1    0  0  0  1  0
2    0  0  1  0  0
3    0  0  0  1  0
4    0  0  1  0  0
..  .. .. .. .. ..
261  0  0  1  0  0
262  0  0  1  0  0
263  0  1  0  0  0
264  0  0  1  0  0
265  0  0  1  0  0

[266 rows x 5 columns]

In [5]:
df = train.append(test)
df.head()

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

,f0,f1,f10,f11,f12,f13,f14,f15,f16,f17,...,f26,f27,f3,f4,f5,f6,f7,f8,f9,grade
0,1.848564,-0.26425,0.395874,0.308879,0.548623,0.472101,0.172917,0.098853,0.308879,0.040193,...,3.727218,0.102129,0.409400,1.305455,2.329398,0.370965,0.090167,0.107958,0.0,2.0
1,-0.825098,-0.26425,0.395874,0.308879,0.548623,0.472101,0.172917,0.098853,0.308879,0.040193,...,-0.232472,0.102129,-2.442599,1.305455,-0.276144,0.370965,0.090167,0.107958,0.0,4.0
2,1.848564,-0.26425,0.395874,0.308879,0.548623,0.472101,0.172917,0.098853,0.308879,0.040193,...,-0.232472,0.102129,0.409400,1.305455,2.329398,0.370965,0.090167,0.107958,0.0,2.0
3,0.511733,-0.26425,0.395874,0.308879,-1.999287,-2.118189,0.172917,0.098853,-3.237512,0.040193,...,-0.232472,0.102129,0.409400,-0.525726,-0.276144,0.370965,0.090167,0.107958,0.0,2.0
4,-0.825098,-0.26425,-2.526055,0.308879,-1.999287,-2.118189,0.172917,0.098853,0.308879,0.040193,...,-0.232472,0.102129,0.409400,-0.525726,-0.276144,0.370965,0.090167,0.107958,0.0,2.0

In [6]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
from sklearn.preprocessing import OneHotEncoder 
  
# creating one hot encoder object with categorical feature 0 
# indicating the first column 
# onehotencoder = OneHotEncoder(categorical_features = [0])
# data = onehotencoder.fit_transform(data).toarray() 

for col in df.columns :
    if col != 'grade':
        if df[col].nunique() == 2 :
            df[col] = le.fit_transform(df[col])
        elif df[col].nunique() > 2 and df[col].nunique() < 5 :
            dums = pd.get_dummies(df[col])
            df = df.drop([col] , axis = 1)
            df = pd.concat([df , dums] , axis = 1)

df

,f0,f1,f12,f19,f2,f22,f23,f24,f25,f26,...,-2.695675549220764,0.3498040439993688,0.37096452512212347,-11.09053650640942,-8.093207028119322,0.09016696346674316,0.1235604126430431,-16.278820596099706,0.0,0.061429511683395575
0,1.848564,-0.264250,0.548623,0.085505,-0.461423,0.443257,-0.406121,-0.687687,0.271886,3.727218,...,0,0,1,0,0,1,0,0,1,0
1,-0.825098,-0.264250,0.548623,0.085505,3.032397,-0.232546,-0.406366,-0.687687,0.271886,-0.232472,...,0,0,1,0,0,1,0,0,1,0
2,1.848564,-0.264250,0.548623,0.085505,-0.461423,1.459782,1.221876,1.877777,0.271886,-0.232472,...,0,0,1,0,0,1,0,0,1,0
3,0.511733,-0.264250,-1.999287,0.085505,-0.461423,-0.008030,-0.406366,1.504523,0.271886,-0.232472,...,0,0,1,0,0,1,0,0,1,0
4,-0.825098,-0.264250,-1.999287,0.085505,-0.461423,-0.573268,-1.164793,1.877777,0.271886,-0.232472,...,0,0,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,0.411859,-0.273636,0.513736,0.061430,-0.496119,-0.567744,-1.025755,-0.244040,0.229718,-0.217109,...,0,1,0,0,0,0,1,0,0,1
262,-0.837812,-0.273636,0.513736,0.061430,-0.496119,2.410154,-0.434520,-0.662763,0.229718,-0.217109,...,0,1,0,0,0,0,1,0,0,1
263,0.411859,-0.273636,0.513736,0.061430,-0.496119,-0.448628,-0.434268,-0.662213,0.229718,-0.217109,...,0,1,0,0,0,0,1,0,0,1
264,0.828416,4.569609,0.513736,0.061430,-0.496119,0.504299,1.352018,-0.244040,0.229718,-0.217109,...,0,1,0,0,0,0,1,0,0,1
265,-0.837812,-0.273636,0.513736,0.061430,-0.496119,2.410154,1.352018,-0.662763,0.229718,-0.217109,...,0,1,0,0,0,0,1,0,0,1

In [7]:
test = df[df['grade'].isna()]
train = df[~df['grade'].isna()]

train

,f0,f1,f12,f19,f2,f22,f23,f24,f25,f26,...,-2.695675549220764,0.3498040439993688,0.37096452512212347,-11.09053650640942,-8.093207028119322,0.09016696346674316,0.1235604126430431,-16.278820596099706,0.0,0.061429511683395575
0,1.848564,-0.264250,0.548623,0.085505,-0.461423,0.443257,-0.406121,-0.687687,0.271886,3.727218,...,0,0,1,0,0,1,0,0,1,0
1,-0.825098,-0.264250,0.548623,0.085505,3.032397,-0.232546,-0.406366,-0.687687,0.271886,-0.232472,...,0,0,1,0,0,1,0,0,1,0
2,1.848564,-0.264250,0.548623,0.085505,-0.461423,1.459782,1.221876,1.877777,0.271886,-0.232472,...,0,0,1,0,0,1,0,0,1,0
3,0.511733,-0.264250,-1.999287,0.085505,-0.461423,-0.008030,-0.406366,1.504523,0.271886,-0.232472,...,0,0,1,0,0,1,0,0,1,0
4,-0.825098,-0.264250,-1.999287,0.085505,-0.461423,-0.573268,-1.164793,1.877777,0.271886,-0.232472,...,0,0,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615,-0.825098,-0.264250,0.548623,0.085505,2.004803,-0.684962,-0.406121,-0.687687,0.271886,-0.232472,...,0,0,1,0,0,1,0,0,1,0
616,-0.379487,3.809407,-0.725332,0.085505,-0.461423,2.248407,-0.332678,-0.687687,0.271886,4.519156,...,0,0,1,0,0,1,0,0,1,0
617,-0.825098,-0.264250,0.548623,0.085505,-0.461423,-1.023427,1.332042,-0.687687,0.271886,-0.232472,...,0,0,1,0,0,1,0,0,1,0
618,-0.825098,-0.264250,0.548623,0.085505,2.004803,3.150982,-1.777067,-0.687687,0.271886,-0.232472,...,0,0,1,0,0,1,0,0,1,0
619,-0.379487,3.068742,-0.725332,0.085505,-0.461423,1.120188,0.303833,-0.687687,0.271886,-0.232472,...,0,0,1,0,0,1,0,0,1,0

### Train test split

In [8]:
# sample
from sklearn.model_selection import train_test_split
# train_test_split(train , test, test_size=0.3, random_state=42)

In [9]:
X = train.drop(['grade'] , axis = 1)
y = train['grade']

In [10]:
# train_y.value_counts()

In [11]:
# train_X , val_X , train_y , val_y = train_test_split(X, y, test_size=0.3, random_state=42)
train_X = X
train_y = y
val_X = test.drop(['grade'] , axis = 1)

In [12]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import log_loss
# Create the model with 100 trees
model = RandomForestClassifier(n_estimators=100, 
                               bootstrap = True,
                               max_features = 'sqrt')
# Fit on training data
model.fit(train_X , train_y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='sqrt',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [13]:
sample

     0  1  2  3  4
0    0  0  1  0  0
1    0  0  0  1  0
2    0  0  1  0  0
3    0  0  0  1  0
4    0  0  1  0  0
..  .. .. .. .. ..
261  0  0  1  0  0
262  0  0  1  0  0
263  0  1  0  0  0
264  0  0  1  0  0
265  0  0  1  0  0

[266 rows x 5 columns]

In [14]:
sample.columns

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [15]:
sm1 = sample

In [16]:
pd.set_option('display.max_rows', 500)

In [17]:
rf_preds = model.predict_proba(val_X)
# log_loss( , rf_preds )
for c in sample.columns:
    sm1[c] = rf_preds[: ,c]
# sm1[]

In [18]:
sm1.to_excel('./Submit1.xlsx')

In [19]:
# val_y.value_counts()

# rf = pd.DataFrame(rf_predictions)
# rfp = rf[0]

# from sklearn.metrics import roc_auc_score
# from sklearn.metrics import log_loss
# from sklearn.metrics import accuracy_score
# # >>> y_pred = [0, 2, 1, 3]
# # >>> y_true = [0, 1, 2, 3]
# accuracy_score(val_y, rf_predictions)

# # Calculate roc auc
# # roc_value = log_loss(val_y, rf_predictions)

# pp.ProfileReport(train)


# pp.ProfileReport(test)